* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Graffiti";
  src: url("./refs/fonts/Comic_Sans_MS/Comic_Sans_MS.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Myth";
  src: url("./refs/fonts/CHILLER-FONT/Chiller.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Yuji Boku";
  src: url("./refs/fonts/Yuji_Boku/YujiBoku-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
.main_wrapper {
  width: 1000px;
  height: 100vh;
  margin: 0 auto;
}

.torii {
  width: 1050px;
  height: 764px;
  background-image: url("./refs/torii mist_3.png");
  margin: 0 auto;
  z-index: 1;
}

.dragon {
  width: 500px;
  height: 675px;
  background-image: url("./refs/japanese dragon light.png");
  margin: 0 auto;
  margin-top: 50px;
  /* position: absolute; */
  z-index: 10;
  opacity: 0.4;
  transform: translate(20px, -730px);
}

.dragon.active {
  width: 500px;
  height: 675px;
  background-image: url("./refs/japanese dragon dark.png");
  margin: 0 auto;
  margin-top: 50px;
  /* position: absolute; */
  z-index: 10;
  opacity: 0.4;
  transform: translate(20px, -650px);
  background-repeat: no-repeat;
}

.sakura_wrapper {
  width: 500px;
  height: 469px;
  position: absolute;
  transform: translate(0px, -1660px);
}

.sakura_branch {
  width: 500px;
  height: 469px;
  background-image: url("./refs/sakura_branch_resize.png");
  z-index: 20;
  position: relative;
  -webkit-animation-name: sakura_anim;
          animation-name: sakura_anim;
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  transform-origin: top right;
}

.sakura_branch.active {
  background-image: url("./refs/sakura_branch_resize_dark.png");
}

@-webkit-keyframes sakura_anim {
  0% {
    transform: rotateZ(-4deg);
  }
  25% {
    transform: rotateZ(4deg);
  }
  50% {
    transform: rotateZ(-4deg);
  }
  75% {
    transform: rotateZ(4deg);
  }
  100% {
    transform: rotateZ(-4deg);
  }
}

@keyframes sakura_anim {
  0% {
    transform: rotateZ(-4deg);
  }
  25% {
    transform: rotateZ(4deg);
  }
  50% {
    transform: rotateZ(-4deg);
  }
  75% {
    transform: rotateZ(4deg);
  }
  100% {
    transform: rotateZ(-4deg);
  }
}
.lady_bug {
  width: 50px;
  height: 50px;
  display: inline-block;
  z-index: 30;
  background-image: url("./refs/ladybug_50.png");
  position: relative;
  transform: translate(180px, 310px);
}

.up_buttons_flex {
  width: 450px;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 40;
  position: relative;
  top: 0;
  transform: translate(480px, -1420px);
}

.new_button, .pause_button, .results_button {
  width: 90px;
  height: 40px;
  background-color: transparent;
  border: 5px solid #d81a46;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: "Graffiti";
  font-size: 22px;
  color: #d81a46;
  padding-bottom: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transition: all 0.2s ease-in-out;
  background-image: none;
}

.new_button:hover {
  color: #ff6c8e;
  cursor: pointer;
  background-image: url("./refs/button_hover_1.jpg");
}

.pause_button {
  width: 90px;
  height: 40px;
  background-color: transparent;
  border: 5px solid #d81a46;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: "Graffiti";
  font-size: 22px;
  color: #d81a46;
  padding-bottom: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transition: all 0.2s ease-in-out;
  background-image: none;
}

.pause_button:hover {
  color: #ff6c8e;
  cursor: pointer;
  background-image: url("./refs/button_hover_2.jpg");
}

.results_button:hover {
  color: #ff6c8e;
  cursor: pointer;
  background-image: url("./refs/button_hover_3.jpg");
}

.new_button:active {
  color: #1c191a;
  cursor: pointer;
  background-image: url("./refs/button_hover_1.jpg");
}

.pause_button:active {
  color: #1c191a;
  cursor: pointer;
  background-image: url("./refs/button_hover_2.jpg");
}

.results_button:active {
  color: #1c191a;
  cursor: pointer;
  background-image: url("./refs/button_hover_3.jpg");
}

.drop_down_menu:hover {
  cursor: pointer;
  background-image: url("./refs/button_hover_4_full_size.jpg");
}

.drop_down_menu:active {
  cursor: pointer;
  background-image: url("./refs/button_hover_4_full_size.jpg");
}

.menu_item {
  width: 90px;
  height: 40px;
  display: block;
}

.menu_item:hover {
  color: #ff6c8e;
}

.menu_item:active {
  color: #1c191a;
}

.drop_down_menu {
  width: 90px;
  height: 280px;
  background-color: transparent;
  border: 5px solid #d81a46;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: "Graffiti";
  font-size: 22px;
  color: #d81a46;
  padding-bottom: 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transition: all 0.2s ease-in-out;
  background-image: none;
  list-style: none;
  overflow: hidden;
}

.drop_down_menu.active {
  height: 40px;
}

.moves {
  width: 150px;
  height: 40px;
  font-family: "Graffiti";
  font-size: 22px;
  color: #d81a46;
  transform: translate(320px, -1330px);
  position: absolute;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.time {
  width: 150px;
  height: 40px;
  font-family: "Graffiti";
  font-size: 22px;
  color: #d81a46;
  transform: translate(560px, -1330px);
  position: absolute;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.game_field {
  width: 100%;
  max-width: 420px;
  aspect-ratio: 1/1;
  border: 5px solid #d81a46;
  position: relative;
  transform: translate(315px, -1280px);
  border-radius: 4px;
}
.game_field .game_cell {
  width: 25%;
  height: 25%;
  position: absolute;
  background-color: none;
  transition: all 0.4s ease-in-out;
  z-index: 80;
  border: 2px solid rgba(216, 26, 70, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.game_field .game_cell:hover {
  cursor: pointer;
  box-shadow: 0 0 20px #FF0000, 0 0 20px #0000FF;
  background-color: rgba(216, 26, 70, 0.4);
  border: transparent;
}
.game_field .cell_number {
  width: 40%;
  height: 100%;
  font-family: "Yuji Boku";
  font-size: 1em;
  color: #1c191a;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-shadow: 0 0 50px #14ffc5, 0 0 30px #14ffc5, 0 0 10px #14ffc5;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  opacity: rgb(216, 26, 70);
  transition: all 0.4 ease-in-out;
}
.game_field .game_cell:hover .cell_number {
  text-shadow: 0 0 50px #fff714, 0 0 30px #fff714, 0 0 10px #fff714;
  transition: all 0.4 ease-in-out;
}
.game_field .active .cell_number {
  color: #e9cccc;
}

.input_moves {
  width: 100px;
  height: 40px;
  font-family: "Graffiti";
  font-size: 24px;
  color: #d81a46;
  transform: translate(380px, -2094px);
  position: absolute;
}

.input_time {
  width: 100px;
  height: 40px;
  font-family: "Graffiti";
  font-size: 24px;
  color: #d81a46;
  transform: translate(630px, -2134px);
}

.bottom_buttons_container {
  width: 480px;
  height: 40px;
  position: relative;
  display: flex;
  justify-content: space-between;
  transform: translate(100px, -1140px);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.rsschool_button {
  width: 150px;
  height: 40px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-decoration: none;
}

.rsschool_content {
  color: #d81a46;
  font-family: "Myth";
  font-size: 36px;
  transition: all 0.4s ease-in-out;
  text-decoration: none;
}

.rsschool_content:hover {
  color: #ff6c8e;
  cursor: pointer;
}

.rsschool_content:active {
  color: #31040f;
  cursor: pointer;
}

.symbol_buttons {
  width: 160px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.button_light {
  width: 40px;
  height: 40px;
  background-image: url("./refs/icons/sun.png");
  transition: all 0.4s ease-in-out;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.button_light:hover {
  background-image: url("./refs/icons/sun_hover.png");
  cursor: pointer;
}

.button_light:active {
  background-image: url("./refs/icons/sun_active.png");
  cursor: pointer;
}

.button_dark {
  width: 40px;
  height: 40px;
  background-image: url("./refs/icons/moon.png");
  transition: all 0.4s ease-in-out;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.button_dark:hover {
  background-image: url("./refs/icons/moon_hover.png");
  cursor: pointer;
}

.button_dark:active {
  background-image: url("./refs/icons/moon_active.png");
  cursor: pointer;
}

.button_dark.active {
  cursor: pointer;
}

body.active {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: #1c191a;
}

.button_sound {
  width: 40px;
  height: 40px;
  background-image: url("./refs/icons/megafon_1.png");
  transition: all 0.4s ease-in-out;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.button_sound:hover {
  background-image: url("./refs/icons/megafon_1_hover.png");
  cursor: pointer;
}

.button_sound:active {
  background-image: url("./refs/icons/megafon_1_active.png");
  cursor: pointer;
}

.button_sound.active {
  width: 40px;
  height: 40px;
  background-image: url("./refs/icons/megafon_1_no_sound.png");
  transition: all 0.4s ease-in-out;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.button_sound:hover.active {
  background-image: url("./refs/icons/megafon_1_hover_no_sound.png");
  cursor: pointer;
}

.button_sound:active.active {
  background-image: url("./refs/icons/megafon_1_active_no_sound.png");
  cursor: pointer;
}

.lyutails_button {
  width: 150px;
  height: 40px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.lyutails_content {
  color: #d81a46;
  font-family: "Myth";
  font-size: 36px;
  transition: all 0.4s ease-in-out;
}

.lyutails_content:hover {
  color: #ff6c8e;
  cursor: pointer;
}

.lyutails_content:active {
  color: #31040f;
  cursor: pointer;
}

.lantern_light {
  width: 300px;
  height: 300px;
  background-image: url("./refs/stone_lantern_light_lighting.png");
  transform: translate(740px, -1400px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.lantern_light.active {
  background-image: url("./refs/stone_lantern_dark_lighting.png");
}

.moving_light_1 {
  width: 10px;
  height: 10px;
  display: inline-block;
  background-image: url("./refs/moving_dark_1.png");
  box-shadow: 0 0 50px #14ffc5, 0 0 30px #14ffc5;
  -webkit-animation-name: lights_light_anim_1;
          animation-name: lights_light_anim_1;
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
  z-index: 50;
}

.moving_light_1.active {
  background-image: url("./refs/moving_light_1.png");
  box-shadow: 0 0 50px #fff714, 0 0 30px #fff714;
}

.moving_light_2 {
  width: 10px;
  height: 10px;
  display: inline-block;
  background-image: url("./refs/moving_dark_2.png");
  box-shadow: 0 0 50px #14ffc5, 0 0 30px #14ffc5;
  -webkit-animation-name: lights_light_anim_2;
          animation-name: lights_light_anim_2;
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  z-index: 50;
}

.moving_light_2.active {
  background-image: url("./refs/moving_light_2.png");
  box-shadow: 0 0 50px #fff714, 0 0 30px #fff714;
}

.moving_light_3 {
  width: 10px;
  height: 10px;
  display: inline-block;
  background-image: url("./refs/moving_dark_3.png");
  box-shadow: 0 0 50px #14ffc5, 0 0 30px #14ffc5;
  -webkit-animation-name: lights_light_anim_3;
          animation-name: lights_light_anim_3;
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  z-index: 50;
}

.moving_light_3.active {
  background-image: url("./refs/moving_light_3.png");
  box-shadow: 0 0 50px #fff714, 0 0 30px #fff714;
}

.moving_light_4 {
  width: 10px;
  height: 10px;
  display: inline-block;
  background-image: url("./refs/moving_dark_4.png");
  box-shadow: 0 0 50px #14ffc5, 0 0 30px #14ffc5;
  -webkit-animation-name: lights_light_anim_4;
          animation-name: lights_light_anim_4;
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  z-index: 50;
}

.moving_light_4.active {
  background-image: url("./refs/moving_light_4.png");
  box-shadow: 0 0 50px #fff714, 0 0 30px #fff714;
}

@-webkit-keyframes lights_light_anim_1 {
  from {
    transform: translate(0vw, 0vh);
  }
  25% {
    transform: translate(2vw, 2vh);
  }
  50% {
    transform: translate(-3vw, -4vh);
  }
  75% {
    transform: translate(5vw, -4vh);
  }
  80% {
    transform: translate(8vw, 3vh);
  }
  90% {
    transform: translate(-7vw, 7vh);
  }
  to {
    transform: translate(0vw, 0vh);
  }
}

@keyframes lights_light_anim_1 {
  from {
    transform: translate(0vw, 0vh);
  }
  25% {
    transform: translate(2vw, 2vh);
  }
  50% {
    transform: translate(-3vw, -4vh);
  }
  75% {
    transform: translate(5vw, -4vh);
  }
  80% {
    transform: translate(8vw, 3vh);
  }
  90% {
    transform: translate(-7vw, 7vh);
  }
  to {
    transform: translate(0vw, 0vh);
  }
}
@-webkit-keyframes lights_light_anim_2 {
  from {
    transform: translate(0vw, 0vh);
  }
  25% {
    transform: translate(1vw, 2vh);
  }
  50% {
    transform: translate(-4vw, -2vh);
  }
  75% {
    transform: translate(3vw, 1vh);
  }
  80% {
    transform: translate(6vw, 4vh);
  }
  90% {
    transform: translate(-5vw, 6vh);
  }
  to {
    transform: translate(0vw, 0vh);
  }
}
@keyframes lights_light_anim_2 {
  from {
    transform: translate(0vw, 0vh);
  }
  25% {
    transform: translate(1vw, 2vh);
  }
  50% {
    transform: translate(-4vw, -2vh);
  }
  75% {
    transform: translate(3vw, 1vh);
  }
  80% {
    transform: translate(6vw, 4vh);
  }
  90% {
    transform: translate(-5vw, 6vh);
  }
  to {
    transform: translate(0vw, 0vh);
  }
}
@-webkit-keyframes lights_light_anim_3 {
  from {
    transform: translate(0vw, 0vh);
  }
  25% {
    transform: translate(3vw, 2vh);
  }
  50% {
    transform: translate(-3vw, -3vh);
  }
  75% {
    transform: translate(2vw, 3vh);
  }
  80% {
    transform: translate(4vw, 6vh);
  }
  90% {
    transform: translate(-3vw, 4vh);
  }
  to {
    transform: translate(0vw, 0vh);
  }
}
@keyframes lights_light_anim_3 {
  from {
    transform: translate(0vw, 0vh);
  }
  25% {
    transform: translate(3vw, 2vh);
  }
  50% {
    transform: translate(-3vw, -3vh);
  }
  75% {
    transform: translate(2vw, 3vh);
  }
  80% {
    transform: translate(4vw, 6vh);
  }
  90% {
    transform: translate(-3vw, 4vh);
  }
  to {
    transform: translate(0vw, 0vh);
  }
}
@-webkit-keyframes lights_light_anim_4 {
  from {
    transform: translate(0vw, 0vh);
  }
  25% {
    transform: translate(1.5vw, -2vh);
  }
  50% {
    transform: translate(-4vw, 2vh);
  }
  75% {
    transform: translate(-3vw, -1vh);
  }
  80% {
    transform: translate(6vw, 4vh);
  }
  90% {
    transform: translate(-5vw, 6vh);
  }
  to {
    transform: translate(0vw, 0vh);
  }
}
@keyframes lights_light_anim_4 {
  from {
    transform: translate(0vw, 0vh);
  }
  25% {
    transform: translate(1.5vw, -2vh);
  }
  50% {
    transform: translate(-4vw, 2vh);
  }
  75% {
    transform: translate(-3vw, -1vh);
  }
  80% {
    transform: translate(6vw, 4vh);
  }
  90% {
    transform: translate(-5vw, 6vh);
  }
  to {
    transform: translate(0vw, 0vh);
  }
}/*# sourceMappingURL=style.css.map */